* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    height: 8vh;
}
#logo {
    padding: 1rem;
    margin-left: 2rem;
}

#logo ul {
    list-style: none;
}

#logo ul li a {
    color: black;
    text-decoration: none;
}

#nav-links {
    padding: 1rem;
}

#nav-links ul {
    list-style: none;
    display: flex;
}

#nav-links ul li a {
    text-decoration: none;
    padding: 1rem;
}

#nav-links ul li a:hover {
    color: red;
}

#hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 66vh;
    background-image: url("./images/code2.jpg");
    background-size: cover;
}

h1 {
    padding: 1rem;
    border-radius: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw;
    align-items: center;
    background-color: #00000090;
    color: white;
    padding: 1rem;
    border-radius: 4px;
}

.intro h3 {
    padding-bottom: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: normal;
    background-color: bisque;
    height: 26vh;
}

.footer-divs {
    padding: 1rem;
}

h4 {
    padding-bottom: 5px;
}
.footer-links ul li {
    padding-top: 5px;
    list-style: none;
}

.footer-links ul li a {
    text-decoration: none;
}

.footer-links ul li a:hover {
    color: red;
}

/* Responsiveness  */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }

    #logo {
        margin-top: 1rem;
        padding: 0.5rem;
    }
    
}


